<h1><span th:text="${bug.id}"/>: <span th:text="${bug.title}"/></h1>
<h2 th:if="${bug.fixed}" th:text="Fixed"/>

<h4>Repro Steps</h4>
<span th:text="${bug.reproSteps}"/>
<h4>Expected Behaviour</h4>
<span th:text="${bug.expectedBehaviour}"/>
<h4>Actual Behaviour</h4>
<span th:text="${bug.actualBehaviour}"/>

<h4>Affected Test Cases</h4>
<ul>
    <li th:each="test: ${bug.affectedTestCases}">
        <span th:text="${test.id}"/>: <span th:text="${test.title}"/>
    </li>
</ul>

<a th:href="'edit/' + ${bug.id}"><button>Edit Bug</button></a>