<h3 th:if="${isExistingBug}" th:text="${bug.id}" xmlns:th="http://www.w3.org/1999/xhtml"/>
<form action="#" th:action="@{/bugs/saveBug}" th:object="${bug}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{affectedTestCases}"/>
    <div>
        <label>Title</label>
        <input type="text" th:field="*{title}"/>
    </div>
    <div>
        <label>Repro Steps</label>
        <textarea th:field="*{reproSteps}"/>
    </div>
    <div>
        <label>Expected Behaviour</label>
        <textarea th:field="*{expectedBehaviour}"/>
    </div>
    <div>
        <label>Actual Behaviour</label>
        <textarea th:field="*{actualBehaviour}"/>
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>