<table xmlns:th="http://www.w3.org/1999/xhtml">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Affected Test Cases</th>
            <th>Is Fixed?</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="bug: ${bugs}">
            <td><a th:href="'./bugs/' + ${bug.id}" th:text="${bug.id}"/></td>
            <td th:text="${bug.title}"/>
            <td th:text="${bug.affectedTestCaseCount}"/>
            <td th:text="${bug.fixed}"/>
        </tr>
    </tbody>
</table>

<a href="./bugs/create"><button>Create Bug</button></a>